html,
body {
    height: 100%;
}

.container {
   height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0rem;
    padding: 0rem;
    background: #ffffff;
}
header {
    background: #60a3bc;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
    background: #E4F2FD;
}
header .content1 h2,
header .entrance h2 {
    color: rgb(82, 82, 82);
    font-size: 20px;
}
header .content1 h2:hover {
    color: black;
}
.content1 .box-home {
    position: relative;
    top: 4px;
    right: 20px;
}
.content1 .box-about {
    position: relative;
    top: 4px;
    right: 90px;
}
header .entrance .box {
    position: relative;
    top: 2px;
}
header .singup .box {
    position: relative;
    left: 110px;
}
header .entrance .singup h2:hover {
    color: rgb(48, 47, 47);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}
header .entrance .login h2:hover {
    color: rgb(48, 47, 47);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}
header .login .box {
    position: relative;
    left: 160px;
}
header .singup .box h2 {
    width: 69%;
    padding: 4.5px 9px;
    border: 2px solid #017AFF;
    color: white;
    background: #017AFF;
    border-radius: 8px;
}
header .login .box h2 {
    width: 69%;
    padding: 4.5px 13px;
    border: 2px solid #017AFF;
    color: #017AFF;
    background: white;
    border-radius: 8px;
}
header .form-box input {
    width: 85%;
    height: 52%;
    padding: .63rem;
    padding-right: 0;
    border-radius: 8px 0 0 8px;
    border: 2px solid rgb(224, 220, 220);
    border-right: none;
    background: white;
    position: relative;
    top: 6px;
    left: 5px;
}
header .form-box button {
    width: 12%;
    border: 2px solid rgb(224, 220, 220);
    border-left: none;
    background: white;
    position: relative;
    border-radius: 0 8px 8px 0;
    top: 15px;
    left: 1px;
}
section {
    width: 100%;
    display: block;
    text-align: center;
    background: white;
    padding: .5rem;
    margin: 0;
}
section .title h2 {
    font-size: 35px;
}

section .content {
    background: white;
    margin: 10rem 18rem;
    text-align: left;
}
section .content-box {
    background: rgb(235, 233, 233);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .4);
    border-radius: 4px;
}
.box-post1,
.box-post2,
.box-post3,
.box-post4,
.box-post5,
.box-post6 {
    margin-bottom: 2rem;
    padding: 2rem 1rem;
}
section .content .post {
    font-size: 25px;
}
section .content .root {
    font-size: 18px;
}
.col-1 {
    width: calc(14.28571428571429%);
}
.col-2 {
    width: 28.57142857142857%;
}
.col-3 {
    width: 42.85714285714286%;
}
.col-4 {
    width: 57.14285714285715%;
}
.col-5 {
    width: 71.42857142857144%;
}
.col-6 {
    width: 85.71428571428573%;
}
.col-7 {
    width: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7 {
    display: inline-block;
    vertical-align: top;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7 {
    padding-right: 15px;
    padding-left: 15px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}